body{
    width:100%;
    height:100vh;
    margin: 0;
    background-color: white;
    color: #2c3e4c;
    font-family: tahoma;
    text-align:left ;
  }

  h1, p, h3{
    text-align: center;
    margin: 1em auto;
    }

  textarea{
    font-family: tahoma;
    text-align: center;
  }

  .dropdown-menu select{
    font-family: tahoma;
    text-align: center;
    color:#2c3e4c;
  }
 
  form{
    width: 50%;
    margin: 0 auto;
    background-color: #48aaad55;
    padding-bottom: 7px;
    border-width: 7px;
    border-style: solid;
    border-color: #48aaad55;
  }

  hr{
    border-color: #48aaad55;
    border-width: 2px;
    border-style: double;
  }

  .details label, .details input{
    display: inline-block;
    padding: 0 0 0 35px
  }

  .details input{
    text-align: left;
    width:50%;
  }

  .dropdown-menu{
    padding: 0 0 0 78px;
    min-width: 50px;
    width: 50%;
  }

  .recommendation{
    display: inline-block;
    padding: 0px 0px 0px 130px;
  }

  .recommendation label{
    text-align: left;
  }

  .recommendation input{
    text-align: left;
  }

  .details label{
    text-align: right;
    min-width: 50px;
    width: 10%;
  }

  .checkboxes{
    display: inline-block;
  }

  .checkboxes label{
    text-align: left;
    padding: 0 0 0 130px;
  }


  .list-options{
    list-style: none;
    padding: 0;
  }

  .comments{
    display: block;
    text-align: center;
  }
  /*.checkboxes{
    display: inline-block;
  }

  .checkboxes label{
    width: 10%;
    text-align: left;
    min-width: 50px;
  }

  .checkboxes input{
    text-align: left;
    width: 50%;
  }
  */

  select{
    width: 100%;
  }
  
  .inline{
    width: unset;
    margin: 0 0.5em 0 0;
  }
  
  label{
    display: block;
    margin: 0.5rem 0;
    text-align: center;
    font-family: tahoma;
  }
  
  input{
    width: 90%;
    margin: 10px 0 0 0;
    display: inline-block;
  }

  .comments .button{
    border-color:#48aaad55;
    border-style: none;
    color: #2c3e4c;
    background-color: #48aaad55;
    padding: 5px 0 5px 0;
    font-size: 15px;
  }

  .comments .button:hover{
    border-style: solid;
    border-color: #48aaad55;
  }