*{
    background-color: #E8E8EB;
    box-sizing: border-box;
    color: #313638;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Fonts/Ubuntu-L.ttf')format('truetype');
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('Fonts/Ubuntu-B.ttf')format('truetype');
    font-weight: bold;
    font-size: normal;
}
.heading{
    text-decoration: none;
    background-color: transparent;
}
.logo h1{
    background-color: transparent;
}
.header-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: transparent;
}
.header-list li{
    list-style: none;
    background-color: transparent;
    font-size: 20px;
    transition: translate 0.3s ease;
}
.header-list li:hover{
    translate: -5px -5px;
}
.header-list li a{
    background-color: transparent;
    text-decoration: none;
    transition: color .2s ease-in-out;
}
.header-list li a:hover{
    color: #072AC8;
}
.header-menu{
    position:fixed;
    height: 10vh;
    width: 100vw;
    top: 0;
    left: 0;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    background-color: #E0DFD5;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.logo{
    left: 30px;
    border-radius: 10px;
    padding: 10px;
    height: 100px;
    background-color: transparent;
}

.intro-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-angle-down{
    color: #072AC8;
    font-size: 30px;
    position: sticky;
    /* margin-top: 30vh; */
    transition: translate 0.3s ease;
}

.fa-angle-down:hover{
    translate: 0px 10px;
    color: #F9564F;
}
.fa-angle-up{
    position: sticky;
    left: 90vw;
    top: 90vh;
    background-color: #E0DFD5;
    padding: 20px;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.fa-angle-up:hover{
    background-color: #072AC8;
    color: #E0DFD5;
    transform: translateY(-10px);
}
.intro-section h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    color: black;
}
.intro-section h1{
    font-size: 40px;
    color: rgb(46, 46, 46);
}

.intro-card{
    padding: 20px;
    text-align: center;
    height: 60vh;
    width: 70vw;
    background-color: #E0DFD5;
    border-radius: 20px;
}

.about-section{ 
    padding: 20px;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.about-section .inner-about{
    display: flex;
    flex-direction: row;
}

.about-section .about-image, .about-section .about-text{
    padding-top: 100px;
    width: 50%;
    height: 80vh;
}
.about-section .about-image img{
    object-fit: cover;
}

.about-section .about-text h1{
    font-family: 'Ubuntu-Bold', 'san-serif';
    font-size: 80px;
    z-index: -1;
    color:#313638c6;
}
.about-section .about-text .my-links{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 35px;
    margin: 40px;
}

.about-section .about-text .my-links .fa-github, .about-section .about-text .my-links .fa-linkedin{
    transition: color 0.3s ease, translate 0.3s ease;
}
.about-section .about-text .my-links .fa-github:hover, .about-section .about-text .my-links .fa-linkedin:hover{
    color:#072AC8;
    translate: 0px -5px;
}
.about-section .about-text .my-details {
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-size: 20px;
}
.portfolio-section{
    padding-top: 10vh;
    text-align: center;
}
.portfolio-section .portfolio{
    display: flex;
    padding: 20px;
}

.portfolio-section .portfolio-image, .portfolio-section .portfolio-details{
    margin: 5px;
    height: 80vh;
    width: 50%;
}

.portfolio-section .portfolio .portfolio-image{
    display: flex;
    justify-content: center;
    align-items: center;
}



footer{
    padding: 20px;
    height: 15vh;
    background-color: #E0DFD5;
    text-align: center;
}
@media screen and (max-width: 767px){
    .header-item{
        display: none;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        left: 0;
        position: relative;
        width: 300px;
    }

    .header-menu{
        height: 15vh;
        align-content: center;
    }
}